.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 770ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #007f90;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #0095a9;
    --control-bullet-active-color: #007f90;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    }