.awssld.awssld--cubeAnimation.awssld--organic-arrows{
    --slider-height-percentage: 100vh;
    --slide-width-percentage:50vw;
    --slider-transition-duration: 770ms;
    --slider-transition-duration: 330ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #fbb900;
    // --organic-arrow-color:#0f0c29;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fbb900;
    --control-bullet-active-color: #fbb900;
    --loader-bar-color: #dba100;
    --loader-bar-height: 6px;
    }

