/* .outline {
    color: transparent;
    color: #0f0c29;
    background-color: rgba(255,255,255,.65);
    z-index: 1000;
    text-transform: capitalize;
    position: absolute;
    z-index: 1000;
    max-width: 60%;
    top: 0;
    left: 10%;
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-left: 2rem;
    margin-top: 40vh;
    
  } */

  .outline{
    color: transparent;
    vertical-align: bottom;
    color: #0f0c29;
    /* color: #fbb900; */
    /* background-color: rgba(255,255,255,.65); */
    background-color: rgba(15,12,41,.40);
    /* text-shadow: 2px 1px 2px black; */
    /* color: rgba(255, 255, 255, 0.2); */
    text-transform: capitalize;
    position: absolute;
    z-index: 1000;
    max-width: 100%;
    top: 0;
    /* left: 10%; */
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    /* margin-left: 2rem; */
    /* margin-top: 40vh; */
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .outline h5{
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
  }
  .outline h1{
    font-weight: 900;
    color: #e7b962;
  }
  .outline p{
    font-size: 1.4rem;
    color: white;
    max-width: 50%;
  }
  .outline .button{
    background-color: #e7b962;
    display: inline;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    padding: .5rem 1.2rem;
    margin-top: 1.2rem;
    width: fit-content;
    border: 2px solid #e7b962;
    transition: all .2s cubic-bezier(0.6, 0.28, 0.735, 0.045);
    -webkit-transition: all .2s cubic-bezier(0.6, 0.28, 0.735, 0.045);
    -moz-transition: all .2s cubic-bezier(0.6, 0.28, 0.735, 0.045);
    -ms-transition: all .2s cubic-bezier(0.6, 0.28, 0.735, 0.045);
    -o-transition: all .2s cubic-bezier(0.6, 0.28, 0.735, 0.045);
}
  .outline .button:hover{
    background-color: rgba(255,255,255,.65);
    color: #e7b962;
  }
  @media screen and (max-width:768px) {
    .outline{
      font-size:1.8rem;
      /* margin-top: 40vh; */
    }
    .outline p{
      font-size: 1.2rem;
      max-width: max-content;
      margin-bottom: 1rem;
      
    }
  }
  @media screen and (max-width:640px) {
    .outline{
      width: 100%;
      /* margin-left: .5rem; */
    }
    .outline p{
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .outline h5{
      font-size: 1.2rem;
    }
    .outline h1{
      font-size: 1.4rem;
    }
  }